@charset "UTF-9";

@media screen and (max-width: 1024px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    section.topo .flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    /* MENU DESKTOP */
    .menu-desktop, .btn-contato {
        display: none;
    }

    /* CONFIG MENU MOBILE */
    .btn-abrir{
        display: block;
    }

    /* TOPO DO SITE */
    section.topo {
        padding: 20px 10%;
    }

    .topo .txt-topo h1 {
        font-size: 1.5em;
        line-height: 20px;
        text-align: center;
    }

    .topo .txt-topo p {
        text-align: justify;
    }

    .topo .img-topo img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especialidades {
        padding: 40px 10%;
    }

    section.especialidades .flex {
        gap: 30px;
    }

    /* SOBRE */
    section.sobre {
        padding: 40px 10%;
    }

    section.sobre .flex {
        flex-direction: column-reverse;
    }

    .sobre .txt-sobre h2 {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre {
        width: 100vw;
        text-align: center;
    }

    /* PORTIFÓLIO */
    section.portifolio {
        padding: 40px 10%;
    }

    section.portifolio .flex {
        gap: 50px;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    /* CONFIG FORMULÁRIO */
    section.formulario {
        padding: 40px 10%;
    }

    /* CONFIG FOOTER */
    footer {
        padding: 40px 10%;
    }

    footer .flex {
        gap: 15px;
    }

    .line-footer {
        text-align: center;
    }
}